@import "tailwindcss";

:root {
  --font-pretendard: Pretendard, sans-serif;
  --font-carter: "Carter One", cursive;
}

@theme {
  /* grayScale */
  --color-gray-900: #000000;
  --color-gray-800: #1e1e1e;
  --color-gray-700: #3e3e3e;
  --color-gray-600: #5d5d5d;
  --color-gray-500: #7b7b7b;
  --color-gray-400: #9a9a9a;
  --color-gray-300: #b9b9b9;
  --color-gray-200: #d8d8d8;
  --color-gray-100: #e6e6e6;
  --color-gray-50: #fafafa;

  /* primary */
  --color-primary-600: #1e3a8a;
  --color-primary-500: #3d569a;
  --color-primary-400: #6174ad;
  --color-primary-300: #8493bf;
  --color-primary-200: #aab5d3;
  --color-primary-100: #d0d6e7;
  --color-primary-50: #f0f2f7;

  /* surface */
  --color-surface-red: #ff7f7f;
  --color-surface-orange: #ffbf7f;
  --color-surface-yellow: #f9eb7d;
  --color-surface-green: #b4ed76;
  --color-surface-blue: #7fd4ff;
  --color-surface-indigo: #7f9bff;
  --color-surface-purple: #ae7fff;

  --font-pretendard: var(--font-pretendard);
  --font-carter: var(--font-carter);
}

@layer utilities {
  /* typography */
  .heading1 {
    font-size: 3rem;
    line-height: 150%;
    letter-spacing: -0.06em;
  }

  .heading2 {
    font-size: 2.5rem;
    line-height: 150%;
    letter-spacing: -0.0375rem;
  }

  .title {
    font-size: 1.875rem;
    line-height: 150%;
    letter-spacing: -0.01875rem;
  }

  .subtitle1 {
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: -0.015rem;
  }
  .subtitle2 {
    font-size: 1.25rem;
    line-height: 150%;
    letter-spacing: -0.00625rem;
  }
  .body1 {
    font-size: 1rem;
    line-height: 150%;
  }
  .body2 {
    font-size: 0.75rem;
    line-height: 150%;
  }
  .caption1 {
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: 0.015rem;
  }
  .caption2 {
    font-size: 0.625rem;
    line-height: 150%;
    letter-spacing: 0.0125rem;
  }
  .caption3 {
    font-size: 0.5rem;
    line-height: 150%;
    letter-spacing: 0.01rem;
  }
}

html {
  font-family: var(--font-pretendard), sans-serif;
  background-color: white;
}

body {
  height: 100vh;
}

button {
  cursor: pointer;
  outline: none;
}
